<div id="container">
    <div class="row" id="header">
        <div class="item w100">Digitization Services Routing Slip</div>
    </div>
    <div class="row border_pretty" id="top">
        <div class="item w35">Order Number: 6789</div>
        <div class="item w30 red">Unit Number: 12345</div>
        <div class="item w35">__#1_ of _2__ Units</div>
    </div>
    <div class="row">
        <div class="item w50">Condition of Item: Good / Bad</div>
        <div class="item w50 red">Call Number: MSS 1378</div>
    </div>
    <div class="row">
        <div class="item w50">Condition Notes: __________________ </div>
        <div class="item w50">ViU Number:</div>
    </div>
    <div class="row">
        <div class="item w50">________________________</div>
        <div class="item w50">Location: STACKS</div>
    </div>
    <div class="row">
        <div class="item w50">________________________</div>
        <div class="item w50">Title: The Carys of Virginia</div>
    </div>
    <div class="row">
        <div class="item w50">Camera/Lens: ______________________</div>
        <div class="item w50">Pages to be scanned: _________________</div>
    </div>
    <div class="row">
        <div class="item w50">Resolution: ________________________</div>
        <div class="item w50">Files from previous unit?: _________</div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w50">Order Information</div>
        <div class="item w50">Deliverables</div>
    </div>
    <div class="row">
        <div class="item w50">Customer Name: ____________________</div>
        <div class="item w50">Intended User: ___Personal Research____</div>
    </div>
    <div class="row">
        <div class="item w50 red">Due Date: __02/14/2014______________</div>
        <div class="item w50">Resolution: 300______________________</div>
    </div>
    <div class="row">
        <div class="item w50">Project Name: ______________________</div>
        <div class="item w50">Format: _________jpeg_______________</div>
    </div>
    <div class="row">
        <div class="item w50">Customer Status: _Undergraduate Student</div>
        <div class="item w50"></div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w90">Unit Information</div>
    </div>
    <div class="row">
        <div class="item w50 red">Unit Special Instructions / Pages to be scanned:</div>
    </div>
    <div class="row">
        <div class="item w50 red">Pages to Digitize: This is an unpublished manuscript - I would like all pages scanned. <br/>
Call Number: MSS 1378<br/> 
Title: The Carys of Virginia <br/>
Author: Jane Blair Cary Smith <br/>
Year: NA <br/>
Location: Special Collections </div>
    </div>
    <div class="row">
        <div class="item w90 red">Order Special Instructions / Pages to be scanned:</div>
    </div>
    <div class="row">
        <div class="item w90 red">I will have to transcribe the entire document, so an early delivery will be greatly appreciated.</div>
    </div>
    <div class="row heading border_pretty">
        <div class="item w90">Production Workflow</div>
    </div>
    <div class="row">
        <div class="item w50">Materials Ready: __01/21/2014_______</div>
    </div>
    <div class="row">
        <div class="item w50">1. In process scanning: ____________</div>
        <div class="item w50">7. Rescans and Corrections _________</div>
    </div>
    <div class="row">
        <div class="item w50">2. Crop and Rotate: ________________</div>
        <div class="item w50">8. 2nd QA: _________________________</div>
    </div>
    <div class="row">
        <div class="item w50">3. Process: ________________________</div>
        <div class="item w50">9. Final QA 1: _____________________</div>
    </div>
    <div class="row">
        <div class="item w50">4. Build Catalog: __________________</div>
        <div class="item w50">10. Final QA 2: ____________________</div>
    </div>
    <div class="row">
        <div class="item w50">5. 1st QA: _________________________</div>
        <div class="item w50">11. Finalized: _____________________</div>
    </div>
    <div class="row">
        <div class="item w50">6. Create Metadata: ________________</div>
        <div class="item w50">12. Delivered/Archived _____________</div>
    </div>
    <div class="row" id="footer">
        <div class="item w90">Generated on 14 Mar 2014 by ms3uf.</div>
    </div>
</div>
