<div class="table-scroller">
   <table id="clone-masterfile-list" >
      <thead>
         <tr><th></th><th>Unit</th><th>Filename</th><th></th></tr>
      </thead>
      <tbody>
      </tbody>
   </table>
</div>
<div class="clone-controls remve">
   <span class="clone-btn remove-all">Clear clone list</span>
   <span class="clone-btn remove">Remove selected from clone list</span>
</div>
