<div class ="columns-none error" data-job-id="<%= job_id %>">
   <span>RECENT ERROR: </span>
   <a href='/admin/job_statuses/<%= job_id %>'><%= error %></a>
   <span class="recent-error trash ts-icon"></span>
</div>
