<div class="table-scroller">
   <table id="source-masterfile-list" data-page="1" >
      <thead>
         <tr><th></th><th>Filename</th><th>Title</th><th>Thumbnail</th></tr>
      </thead>
      <tbody>
      </tbody>
   </table>
</div>
<div class="clone-controls paging">
   <span class="clone-btn add">Add selected to clone list</span>
   <div class="mf-count">
      Displaying Master Files <b><span id="start-cnt">0</span>&nbsp;-&nbsp;<span id="end-cnt">0</span></b> of <b><span id="total-cnt">0</span></b>
   </div>
   <nav class="page-buttons">
      <span class="clone-btn prev">< Prev</span>
      <span class="page-count">Page <input id="curr-page"/> of <span id="max-page"></span></span>
      <span class="clone-btn next">Next ></span>
   </nav>
</div>
