<div id="workflow-steps">
   <canvas id="workflow-canvas"></canvas>
   <% step = workflow.first_step %>
   <% while !step.nil? do %>
      <% final_fail = (!step.fail_step.nil? && step.fail_step.next_step != step.next_step) %>
      <div class="workflow-row">
         <%= render partial: "/admin/digitization_workflow/workflows/step", locals: {step: step, error: false, final_error: final_fail, readonly: true} %>
         <% if !step.fail_step.nil? %>
            <div class="fail-arrow">
               <div class="horiz-line"></div><div class="right-arrow"></div>
               <% if final_fail %>
                  <div class="retry-arrow"><div class="left-arrow"></div><div class="horiz-line blue"></div></div>
               <% end %>
            </div>

            <%= render partial: "/admin/digitization_workflow/workflows/step", locals: {step: step.fail_step, error: true, final_error: final_fail, readonly: true} %>
         <% end %>
      </div>
      <% step = step.next_step %>
      <div class="next-arrow"><div class="vert-line"></div><div class="down-arrow"></div></div>
   <% end %>
   <div class="done-step">Complete</div>
</div>
