.DS_Store
.bundle
.byebug_history
db/*.sqlite3
derby.log
log/*.*
log/daily_progress
log/jobs/*.*
tmp/*
!tmp/start_application.sh
!tmp/completely_restart_tracking_system.sh
!tmp/fragments
.sass-cache/
public/admin
public/assets
public/metadata
tracksys.sublime-workspace
config/database.yml
*~
*.bak
*.swp

gannon-content
gannon-excel
gannon-logs/
log/jobs
log/tmp/
node_modules/
yarn.lock

# Ignore application configuration
/config/application.yml
saoa/
