.DS_Store
.bundle
db/*.sqlite3
log/*.*
tmp/*
!tmp/start_application.sh
.sass-cache/
public/admin
public/assets
public/metadata
tracksys.sublime-workspace
config/environments/production.rb
config/database.yml
