.DS_Store
.bundle
.byebug_history
db/*.sqlite3
derby.log
log/*.*
log/jobs/*.*
tmp/*
!tmp/start_application.sh
!tmp/completely_restart_tracking_system.sh
!tmp/fragments
.sass-cache/
public/admin
public/assets
public/metadata
tracksys.sublime-workspace
config/database.yml
*~
*.bak

# Ignore application configuration
/config/application.yml
