<div class="panel equipment" data-type="<%= type %>">
   <h3><span><%= title %></span><span class="equipment add ts-icon"></span></h3>
   <div class="add-equipment">
      <p>
         <label>Name:</label><input type="text" class="name"/>
         <span class="mf-action-button equipment cancel">Cancel</span>
      </p>
      <p>
         <label>Serial Number:</label><input type="text" class="serial"/>
         <span class="mf-action-button equipment save">Save</span>
      </p>
   </div>
   <%= render partial: "equipment_table", locals: {equipment: equipment} %>
</div>
