<div class="report-header">Current Orders as of <%= today %></div>
<div id="summary-report">
   <% data.each do |key, val| %>
      <div class="summary">
         <label><%= key %>:</label>
         <span><%= val %></span>
      </div>
   <% end %>
</div>
