<div id="annual-reports-container">
   <div class="settings">
      <span>
         <label>Report Type: </label>
         <% reports=[
            {id: "category", name: "Category"}, {id: "orders", name: "Orders and Units"},
            {id: "agency_year", name: "Agency (Year-to-Date)"},
            {id: "current", name: "Current Orders"}] %>
         <%= select_tag "report-type", options_for_select(reports.map { |obj| [obj[:name], obj[:id]] }) %>
      </span>
      <span>
         <label>Year: </label>
         <input type="text" id="report-year" value="<%= Date.today.year %>"/>
      </span>
      <input type="button" id="generate-annual-report" value="Generate Annual Report"/>
   </div>
   <div class="report-data">
   </div>
</div>
