  /* Customize boostrap forms to tighten proportions */
.form-horizontal .control-label {
  width: 70px;
  padding-right: 10px;
}

.form-horizontal .controls {
  margin-left: 60px;
}

/* end form width customizations */

/* change container width */
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: auto;
}

/* Highlight 'important' text specially */
.important {
  color: #C00;
  font-weight: bold;
}

/* Format flash messages.  Using same styling as ActiveAdmin */

/* from _shadows.css.scss */
@mixin text-shadow($color: #fff, $x: 0, $y: 1px, $blur: 0) {
  text-shadow: $color $x $y $blur;
}

/* from _gradients.css.scss */
@mixin gradient($start, $end){ 
  background: $start; 
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); 
  background: -moz-linear-gradient(-90deg, $start, $end); 
  // IE 6 & 7
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$end}');
  // IE 8
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$end}');
}

.flash {
  @include gradient(#f7f1d3, #f5edc5);
  @include text-shadow(#fafafa);
  border-bottom: 1px solid #eee098;
  color: #cb9810;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 13px 30px 11px;
  position: relative;
  top: -15px;

  &.flash_type_notice {
    @include gradient(#dce9dd, #ccdfcd);
    border-bottom: 1px solid #adcbaf;
    color: #416347;
  }

  &.flash_type_error {
    @include gradient(#f5e4e4, #f1dcdc);
    border-bottom: 1px solid #e0c2c0;
    color: #b33c33;
  }
}

/* Restore original Bootstrap colors for btn-primary  because I dislike
the local UVA modifications. */
.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

/* A section divider to separate out items */
.item-divider {
/*  padding-bottom: 17px;*/
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee;
}

/* remove legend margin-bottom to improve Firefox apperance */
legend {
  margin-bottom: 0px;
}

/* display required labels with a red font */
label.required {
  color: #DB0000;
}

/* increase size of span12 to accomodate custom padding.
Original size is 940px. */
.span12 {
  width: 960px;
}

.span4 {
  width: 340px;
}

/* format <div class='fields'>, a product of the javascript for nested_forms */
div.fields {
  padding-top: 18px;
  border:0;
  border-bottom:1px solid #0D3268;
}

/* ensure that the text color of the button is always white.  
Overrides the a:focus color styling in UVA style.css */
div.fields > a:focus, a:visited {
    color: #FFFFFF;
  }

/* format button created by nested_forms to have top padding */
a.add_nested_fields {
  margin-top: 18px;
}

/* Add padding to intended_use_watermarked_jpg and intended_use_highest_tif */
#intended_use_highest_tif, #intended_use_watermarked_jpg {
  padding-bottom: 18px;
}

/* Include boostrap dl and dt stylings */
dl{margin-bottom:18px;}
dt,dd{line-height:18px;}
dt{font-weight:bold;line-height:17px;}
dd{margin-left:9px;}
.dl-horizontal dt{float:left;width:120px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.dl-horizontal dd{margin-left:130px;}
