<% if mf.deaccessioned? %>
   <span class="deaccessioned">Deaccessioned</span>
<% else %>
   <% mf_id = mf.id
      md_id = mf.original_mf_id if mf.is_clone? %>
   <%= image_tag(mf.link_to_image(:small), class: "do-viewer-enabled", id: mf_id,
         data: {page: mf.filename.split("_")[1].split(".")[0].to_i,
                metadata_pid: mf.metadata.pid}) %>
<% end %>
