<div id="dimmer">
   <div id="metadata-finder" class="modal">
      <h1>Find Metadata Record</h1>
      <%= render partial: "/admin/common/metadata_finder_panel" %>
      <div class="buttons">
         <span class="mf-action-button metadata-finder cancel">Cancel</span>
         <span class="mf-action-button metadata-finder select">Select</span>
         <span class="mf-action-button metadata-finder find">Find</span>
      </div>
   </div>
</div>
