<div class="find">
   <p class="note">
      Find metadata by partial title, barcode or PID.
   </p>
   <p>
      <label>Search:</label><input type="text" class="name" id="search-text"/>
      <p class="error"></p>
   </p>
   <p class="results">
      <label>Results:</label>
      <div class="results-panel">
         <table>
            <tr>
               <th class="short">PID</th>
               <th class="short">Barcode</th>
               <th>Call Number</th>
               <th>Title</th>
            </tr>
         </table>
      </div>
   </p>
</div>
