<textarea class="transcription" rows=42><%= mf.transcription_text %></textarea>
<span class="ocr-button transcription">Save Transcription</span>
<div id="ocr-spinner">
   <%= image_tag "spinner.gif" %>
</div>
