
<textarea class="transcription" rows=42><%= mf.transcription_text %></textarea>
<a class="ocr-button done" href="/admin/master_files/<%= mf.id %>">Back to Master File <%= mf.id %></a>
<span class="ocr-button transcription">Save OCR Results</span>
<div id="ocr-spinner">
   <%= image_tag "spinner.gif" %>
</div>
