<div id="dimmer">
   <div id="reader-modal" class="modal">
      <div class="content">
         
      </div>
      <div class="buttons">
         <input type="button" id="close-reader" value="Close"/>
      </div>
   </div>
</div>
