<table id="child-links">
   <tr>
      <td class="child-type">Sirsi: </td>
      <td>
         <% if map[:sirsi].size > 0 %>
            <%= link_to "#{map[:sirsi].size}", admin_sirsi_metadata_path(:q => {:parent_bibl_id_eq => parent_id } ) %>
         <% else %>
            <span class="none">None</span>
         <% end %>
      </td>
   </tr>
   <tr>
      <td class="child-type">Xml: </td>
      <td>
         <% if map[:xml].size > 0 %>
            <%= link_to "#{map[:xml].size}", admin_xml_metadata_path(:q => {:parent_bibl_id_eq => parent_id } ) %>
         <% else %>
            <span class="none">None</span>
         <% end %>
      </td>
   </tr>
</table>
