<div class="attributes_table">
   <table border="0" cellspacing="0" callpadding="0">
      <tr class="row"><th>Title</th><td><%= @xml_metadata.title %></td></tr>
   </table>

</div>
<div id="tracksys_xml_editor">
<textarea class="desc-metadata-viewer"><%= @xml_metadata.desc_metadata %></textarea>
</div>
