<div class="attributes_table">
   <table border="0" cellspacing="0" callpadding="0">
      <tr class="row"><th>Title</th><td><%= @xml_metadata.title %></td></tr>
      <tr class="row"><th>CREATOR NAME</th><td><%= @xml_metadata.creator_name %></td></tr>
      <tr class="row"><th>XML Schema</th><td><%= @xml_metadata.xml_schema %></td></tr>
      <tr class="row">
         <td colspan="2"><pre class='xml-meta'><%= @xml_metadata.desc_metadata %></pre></td>
      </tr>
   </table>
</div>
