<div class="narrow">
   <h1 class="page-title">Digital Production Group Request Form</h1>
   <div class="moved">
      <h2>This page has moved!</h2>
      <p>The new version can be found here: <a href="<%= Settings.orders_url%>"><%= Settings.orders_url%></a>
      <p>Please update your bookmarks!</p>
   </div>
</div>
