<div id="assign-dimmer">
   <div id="assign-staff">
      <h1>Assign Project</h1>
      <div class="content">
         <select id="assign-to">

         </select>
         <div class="buttons">
            <span id="ok-assign" class="btn">Assign</span>
            <span id="cancel-assign" class="btn">Cancel</span>
         </div>
      </div>
   </div>
</div>
