<div>
   <% if project.unit.ocr_master_files  %>
      <span class='disp-ocr' id='ocr-master-files'>Yes</span>
   <% else %>
      <span class='disp-ocr' id='ocr-master-files'>No</span>
   <% end %>
   <input class='hidden edit-ocr' id='ocr-master-files-edit'
          type="checkbox" <% if project.unit.ocr_master_files%>checked=checked<% end %> >
</div>
