<div>
   <% if project.unit.metadata.ocr_language_hint.blank? %>
      <span class="disp-item empty" id='ocr-language-hint'>Empty</span>
   <% else %>
      <span class='disp-item' id='ocr-language-hint'><%= project.unit.metadata.ocr_language_hint.upcase %></span>
   <% end %>
   <select class='hidden edit-item' id='ocr-language-hint-edit' >
       <option>Select an OCR Language Hint</option>
      <% @languages.each do |p| %>
         <% sel = ""
            sel = 'selected=selected' if p == project.unit.metadata.ocr_language_hint %>
          <option <%= sel %> value="<%= p %>"><%= p.upcase %></option>
      <% end %>
   </select>
</div>
