<% if equipment.count == 0 %>
   <span class="empty">N/A</span>
<% else %>
   <table class="project-equipment-setup">
      <% equipment.each do |e| %>
      <tr>
         <td><%= e.type %></td>
         <td><%= e.name %></td>
         <td><%= e.serial_number %></td>
      </tr>
      <% end %>
   </table>
<% end %>
