<div class="stats-query">
   <h4>Query</h4>
   <div class="params">
      <div class="row">
         <label>Location:</label>
         <select id="query_loc">
            <option value="all">TrackSys</option>
            <option value="dl">Digital Library</option>
            <option value="dpla">DPLA</option>
         </select>
      </div>
      <div class="row">
         <label>Start Date:</label>
         <input id="start-date" type="text" class="datepicker"/>
         <label>End Date:</label>
         <input id="end-date" type="text" class="datepicker"/>
      </div>
      <div class="controls">
         <label>Result:</label>
         <span id="image-result"></span>
         <div id="image-query" class="mf-action-button">Query</div>
      </div>
   </div>
</div>
