<% step = workflow.first_step %>
<% while !step.nil? do %>
   <div class="workflow-row">
      <%= render partial: "step", locals: {step: step, error: false, readonly: true} %>
      <% if !step.fail_step.nil? %>
         <div class="fail-arrow">
            <div class="horiz-line"></div><div class="right-arrow"></div>
            <div class="retry-arrow"><div class="left-arrow"></div><div class="horiz-line blue"></div></div>
         </div>

         <%= render partial: "step", locals: {step: step.fail_step, error: true, readonly: true} %>
      <% end %>
   </div>
   <% step = step.next_step %>
   <% if !step.nil? %>
      <div class="next-arrow"><div class="vert-line"></div><div class="down-arrow"></div></div>
   <% end %>
<% end %>
