<div class="image-panel">
   <div class='img-box'>
      <img src="http://iiif-test.lib.virginia.edu/iiif/tsm:1250688/full/full/0/default.jpg" id="src-img"/>
   </div>
   <div class="buttons">
      <button class="zoom-in">Zoom In</button>
      <button class="zoom-out">Zoom Out</button>
      <input type="range" class="zoom-range">
      <button class="reset">Reset</button>
   </div>
</div>
