<div class="image-panel">
   <div class='img-box'>
      <img src="/admin/transcribe/zoom?mf=<%= mf.id %>" id="src-img"/>
   </div>
   <div class="buttons">
      <button class="zoom-in">Zoom In</button>
      <button class="zoom-out">Zoom Out</button>
      <input type="range" class="zoom-range">
      <button class="reset">Reset</button>
   </div>
</div>
