<table id="rejection-stats">
   <tr>
      <th class="top-header"></th>
      <th class="top-header left-bar" colspan="3">Scans</th>
      <th class="top-header left-bar" colspan="3">QA</th>
   </tr>
   <tr>
      <th class="sort-clicker">
         <span>Staff</span>
         <span class='sort none' data-tgt="staff"></span>
      </th>
      <th class="left-bar sort-clicker">
         <span>Projects</span>
         <span class='sort none' data-tgt="scan_count"></span>
      </th>
      <th class="sort-clicker">
         <span>Rejections</span>
         <span class='sort none' data-tgt="scan_reject"></span>
      </th>
      <th class="sort-clicker">
         <span>Rate</span>
         <span class='sort none' data-tgt="scan_rate"></span>
      </th>
      <th class="left-bar sort-clicker">
         <span>Projects</span>
         <span class='sort none' data-tgt="qa_count"></span>
      </th>
      <th class="sort-clicker">
         <span>Rejections</span>
         <span class='sort none' data-tgt="qa_reject"></span>
      </th>
      <th class="sort-clicker">
         <span>Rate</span>
         <span class='sort none' data-tgt="qa_rate"></span>
      </th>
   </tr>
</table>
