<div class="panel equipment" data-type="<%= type %>">
   <h3><span><%= title %></span><span class="equipment add ts-icon"></span></h3>
   <%= render partial: "/admin/digitization_workflow/equipment/equipment_table", locals: {equipment: equipment} %>
</div>
