<div id="dimmer">
   <div id="equipment-edit" class="modal">
      <h1>Add Equipment</h1>
      <div class="add-equipment">
         <p>
            <label>Name:</label><input type="text" class="name"/>
         </p>
         <p>
            <label>Serial Number:</label><input type="text" class="serial"/>
         </p>
         <div class="buttons">
            <span class="mf-action-button equipment cancel">Cancel</span>
            <span class="mf-action-button equipment save">Save</span>
         </div>
      </div>
   </div>
</div>
