<div class="panel workstation">
   <h3><span>Workstations</span><span id="add-note" class="workstation add ts-icon"></span></h3>
   <div class="content">
      <div class="workstation-list">
         <h4>Workstation</h4>
         <div class="scroller">
            <table class="workstations">
               <% workstations.each do |ws| %>
                  <%= render partial: "/admin/digitization_workflow/equipment/workstation_row", locals: {ws: ws} %>
               <% end %>
            </table>
         </div>
      </div>
      <div class="workstation-setup">
         <h4>Setup</h4>
         <table class="setup">
         </table>
         <div class="btn-container">
            <span class="assign-equipment btn disabled">Assign Equipment</span>
            <span class="clear-equipment btn disabled">Clear Equipment</span>
         </div>
      </div>
   </div>
</div>
