// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "tracksys";
@import "archivesspace";
@import "colorbox";
@import "chosen";
@import "codemirror";
@import "foldgutter";
@import "show-hint";
@import "stats";
@import "ocr";
@import "order-items";
@import "jobs";
@import "workflow";
@import "equipment";
@import "skills";
@import "icons";
@import "metadata_finder";
@import "workflow_reports";
@import "annual_reports";
@import "tags";

body.active_admin.logged_in .flash.flash_error {
   border-top: 1px solid #e0c2c0;
}

body.active_admin.admin_sirsi_metadata, body.active_admin.admin_xml_metadata {
   #title_bar {
      background-color: #d4e0f5;
   }
}
body.active_admin.admin_units {
   #title_bar {
      background-color: #e0cafa;
   }
}
body.active_admin.admin_orders {
   #title_bar {
      background-color: #bff5bf;
   }
}

li.scope.selected a {
   background-color: #efeffc;
   background-image: none;
   color: #449;
}
#login-info.acting-as {
   right: 5px;
   top: -6px;
}
#login-info {
   display: table-cell;
   white-space: nowrap;
   text-align: right;
   position: relative;
   right: 6px;
   top: -5px;
   .user-messages {
     cursor: pointer;
     text-align: right;
     .message-cnt {
        position: relative;
        top: -5px;
        margin-right: 5px;
     }
   }
   div {
      color: white;
   }
   a {
      text-decoration: none;
      &:hover {
         color: #fff;
      }
   }
}

#mf-metadata-wrap {
   border:1px solid #ccc;
   background-color: white;
   pre {
      margin:0;
      padding: 10px;
      background-color: white;
      color: #333;
      font-family: monospace;
      font-size: 1.2em;
      white-space: pre-wrap;
   }
}

div.attributes_table {
   input[type="text"].sirsi-edit {
      width: 100%;
      box-sizing: border-box;
      padding: 4px;
   }
   .ocr-button {
      margin:0;
   }
   pre.xml-meta {
      background-color: white;
      color: #333;
      font-family: monospace;
      border: 1px solid #ccc;
      padding: 5px;
      white-space: pre-wrap;
   }
}

fieldset.inputs.columns-none {
   margin: 15px 0;
   fieldset.actions {
      padding: 15px;
      margin: 0;
   }
}

a.agency-ancestry {
   border: 1px solid #dedede;
   padding: 2px 4px;
   border-radius: 2px;
   margin-bottom: 3px;
   display:block;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
      box-shadow: 1px 1px 2px #ddd;
   }
}

#invoice_permanent_nonpayment_input {
   label {
      clear: both;
      padding: 0;
      font-weight: 800;
      box-sizing: border-box;
      width: 100%;
   }
   input[type=checkbox] {
      width: auto !important;
      margin-right: 10px;
   }
}

tr.odd, tr.even {
   &.failed {
      td.col {
         background-color: #944;
         color: white;
         border: 0;
      }
      a {
         color: white;
      }
   }
   &.warn {
      td.col {
         background-color: palegoldenrod;
         border: 0;
      }
   }
   &.running {
      td.col {
         background-color: #cef;
         border: 0;
      }
   }
}
tr.even {
   &.failed, &.warn, &.running {
      opacity: 0.7;
   }
}

fieldset.panel.two-column {
   margin-bottom: 10px;
}
ul.header-item.tabs {
   font-size: 0.9em;
}

a.view-supplemental {
   display: block;
}

.two-column.img-column {
   min-width: 540px;
   img {
      width: 550px;
   }
}

body.active_admin {
   .special_instructions {
      min-width: 180px;
   }
}

body.active_admin {
   font-size: 0.8em;
   ul.header-item.tabs {
      font-size: inherit;
   }
}
