// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "tracksys";
@import "colorbox";
@import "chosen";
@import "printable";
@import "twilight";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
body.active_admin {
  .special_instructions { 
    min-width: 180px; 
  }
}

body.active_admin {
  div.workflow_note {
    padding: 10px 0px 10px 0px;
    font-family: sans-serif;
    font-weight: 600;
    color: orange;
  }
}
body.active_admin {
  .admin-information { 
    background-color: rgba(100,150,90,0.5);
    padding: 1em;
  }
  .admin-information h2, h3 { color:white;}
}

th.date_patron_deliverables_complete a, body.active_admin table.index_table th.date_patron_deliverables_complete a:visited,
body.active_admin table.index_table th.date_patron_deliverables_complete a:link {
 white-space:normal;
}
table.index_table th a, body.active_admin table.index_table th a:link, body.active_admin table.index_table th a:visited {
color: #5e6469;
text-decoration: none;
display: block;
white-space: normal;
-webkit-font-smoothing: antialiased;
}
body.active_admin table.index_table th.sortable a { 
  background: image-url('active_admin/orderable.png') no-repeat 0 12px; padding-left: 13px;
}
body.active_admin table.index_table th.sorted-asc a { background-position: 0 -9px; }
body.active_admin table.index_table th.sorted-desc a { background-position: 0 -50px; }
