// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "tracksys";
@import "colorbox";
@import "chosen";
@import "printable";
@import "twilight";

ul.header-item.tabs {
   font-size: 0.9em;
}

div.header #site_title {
   padding: 3px 0px 0 10px;
   display: inline-block;
}

textarea.transcription {
   width: 100%;
   outline: none;
   resize: none;
   box-sizing: border-box;
   border-color: #ccc;
   margin-top: 5px;
   padding: 15px;
   font-size: 1.2em;
   font-family: serif;
}

#header ul.tabs > li.has_nested {
   li {
      line-height: 1.2;
      text-align: left;

      a {
         padding: 4 10px;
      }
   }
}

span.ocr-button.disabled {
   opacity: 0.5;
   cursor: default;
   &:hover {
      background: steelblue;
   }
}
#ocr-status-message {
   margin-top: 10px;
   font-style: italic;
   color: steelblue;
}

#ocr-status-message.error {
   color: firebrick;
}

span.ocr-button {
   margin: 0 10px;
   background: steelblue;
   padding: 3px 30px;
   color: white;
   border-radius: 4px;
   border: 1px solid #249;
   font-size: 0.8em;
   text-shadow: 1px 1px #000;
   cursor: pointer;
   &:hover {
      background: cornflowerblue;
   }
}

.two-column.img-column {
   min-width: 540px;
   img {
      width: 550px;
   }
}

#ocr-spinner {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding-top: 40%;
   display: none;
}

div.panel.transcription {
   position: relative;
   .panel_contents {
      text-align: right;
   }
}

span.ocr-button.transcription {
   font-size: 1.1em;
   margin:10px 0 0 0;
   display: inline-block;
}

.img-box {
   position: relative;
   margin-top: 15px;
   border: 1px solid #888;
   background-color: white;
   background-image: image-url("spinner.gif");
   background-repeat: no-repeat;
   background-position: center;
   min-height: 200px;
   img {
      outline: 1px solid #666;
   }
}

.ocr-src-panel {
   text-align: center;


   p {
      color: #666;
      font-weight: bold;
      margin: 0 0 15px 0;
   }
   .ocr-controls {
      font-size: 1.3em;
      margin: 15px 0;
   }
}

#log-panel {
    background: #333;
    padding: 8px 24px;
    border-radius: 3px;
    max-height: 500px;
    overflow-y: scroll;
    color: #ccc;
    p {
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 1.1em;
   }
}

#job-error-info {
    margin-bottom: 5px;
    label {
      font-weight: bolder;
      margin-right: 10px;
   }
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)
body.active_admin {
  .special_instructions {
    min-width: 180px;
  }
}

body.active_admin {
  div.workflow_note {
    padding: 10px 0px 10px 0px;
    font-family: sans-serif;
    font-weight: 600;
    color: orange;
  }
}
body.active_admin {
  .admin-information {
    background-color: rgba(100,150,90,0.5);
    padding: 1em;
  }
  .admin-information h2, h3 { color:black;}
}

th.date_patron_deliverables_complete a, body.active_admin table.index_table th.date_patron_deliverables_complete a:visited,
body.active_admin table.index_table th.date_patron_deliverables_complete a:link {
 white-space:normal;
}
table.index_table th a, body.active_admin table.index_table th a:link, body.active_admin table.index_table th a:visited {
color: #5e6469;
text-decoration: none;
display: block;
white-space: normal;
max-height: 39px;
overflow: normal;
-webkit-font-smoothing: antialiased;
}
body.active_admin {
  table.index_table {
    th {
      &.sortable.sortable_short a { // column headers with one row of text
        background: url(active_admin_image_path('orderable.png')) no-repeat 0 4px; padding-left: 13px;
      }

      &.sortable a { // longer (2-3 row) column headers
        background: url(active_admin_image_path('orderable.png')) no-repeat 0 12px; padding-left: 13px;
      }

      &.sortable_short.sorted-asc a { background-position: 0 -27px; }
      &.sortable_short.sorted-desc a {  background-position: 0 -56px;}

      &.sorted-asc a { background-position: 0 -16px; }
      &.sorted-desc a {  background-position: 0 -47px;}

      &.sorted-asc, &.sorted-desc {
        @include gradient(darken($secondary-gradient-start, 5%), darken($secondary-gradient-stop, 5%));
      }
    }
  }
}
