body.active_admin {
  #dimmer .modal#as-modal {
    width: 400px;
    p.as-warn {
      margin: 5px 5px 10px 5px;
      font-size: 0.9em;
      padding: 5px;
      background: white;
      outline: 1px solid #c40;
    }
    input[type=checkbox] {
      margin-left: 5px;
      width: 14px;
      height: 14px;
    }
    input[type=text] {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    .note {
      font-size: 0.8em;
      padding: 10px;
    }
    p.error {
      color: firebrick;
      text-align: left;
      margin: 0 0 10px 0;
    }
    .validated {
      font-size: 1.15em;
      font-weight: bold;
      margin-left: 10px;
      color: #999;
    }
    .validated.yes {
      color: #3b3;
    }
    .validated.no {
      color: #c40;
    }
  }

  #dimmer #create-unit-modal {
    div.archivesspace-metadata {
      input[type=text] {
        box-sizing: border-box;
        width: 450px;
      }
      table.metadata-summary {
          margin-bottom: 5px !important;
      }
      div.as-lookup-panel {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
        span.btn.as-lookup {
          padding: 1px 10px 2px 10px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
