.ts-icon {
   float:right;
   width: 16px;
   height: 16px;
   cursor: pointer;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center center;
   opacity: 0.4;

   &:hover {
      opacity: 1;
      background-color: transparent;
   }
}

.ts-icon.add {
   background-image: image_url("add.png");
   border-radius: 10px;
}
.ts-icon.trash {
   background-image: image_url("trash.png");
}
.ts-icon.edit {
   background-image: image_url("edit2.png");
}

.ts-icon.down {
   background-image: image_url("down.png");
   margin: 0 5px;
}

.ts-icon.up {
   background-image: image_url("up.png");
   margin: 0 5px;
}
