#master_file_transcription_text_input {
   label {
      display: none;
   }
   textarea {
      width: 100%;
      outline: none;
      resize: none;
      box-sizing: border-box;
      border-color: #ccc;
      margin-top: 5px;
      padding: 15px;
      font-size: 1.3em;
      font-family: monospace;
      color: #333;
      line-height: 1.3em;
      font-family: serif;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
   }
}

textarea.transcription {
   width: 100%;
   outline: none;
   resize: none;
   box-sizing: border-box;
   border-color: #ccc;
   margin-top: 5px;
   padding: 15px;
   line-height: 1.3em;
   font-size: 1.3em;
   font-family: serif;
   color: #333;
}

div.image-panel {
   margin-top: 5px;
   .img-box {
      border-color: #ccc;
      margin-top: 0;
   }
   div.buttons {
      text-align: center;
      margin-top: 10px;
   }
}

.mf-transcription {
   border: 1px solid #ccc;
   margin: 0;
   padding: 15px;
   background-color: white;
   font-family: monospace;
   font-size: 1.3em;
   color: #444;
}
a.workflow_button {
   border: 1px solid #6A7176;
   padding: 5px 25px;
   text-decoration: initial;
   border-radius: 15px;
   background: #6A7176;
   color: white;
   &:hover {
      background: #ddd;
      color: #666;
   }
}

table.ocr-master-files {
   td.check {
      cursor: pointer;
   }
   input[type=checkbox] {
      margin-right:5px;
   }
   span.status {
      width: 16px;
      height: 16px;
      display: inline-block;
   }
   span.status.pending {
      background-image: image-url("pending.png");
   }
   span.status.working {
      background-image: image-url("working.gif");
   }
   span.status.success {
      border: 2px solid #444;
      border-radius: 16px;
      background-color: #0c0;
      width: 12px;
      height: 12px;
   }
   span.status.none {
      border: 2px solid #444;
      background-color: white;
      border-radius: 16px;
      width: 12px;
      height: 12px;
      opacity: 0.5;
   }
   span.status.error {
      border: 2px solid #444;
      background-color: #800;
      border-radius: 16px;
      width: 12px;
      height: 12px;
   }
}
.ocr-button.disabled {
   opacity: 0.5;
   cursor: default;
   &:hover {
      background: steelblue;
   }
}
#ocr-status-message {
   margin-top: 10px;
   font-style: italic;
   color: steelblue;
}

#ocr-status-message.error {
   color: firebrick;
}

.ocr-button, a.view-supplemental {
   margin: 0 10px;
   background: steelblue;
   padding: 3px 36px;
   border-radius: 4px;
   color: white;
   border: none;
   text-shadow: 1px 1px #000;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   &:hover {
      background: cornflowerblue;
   }
}

#ocr-spinner {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding-top: 40%;
   display: none;
}

div.panel.transcription {
   position: relative;
   .panel_contents {
      text-align: right;
   }
}

span.ocr-button, a.ocr-button {
   font-size: 1.1em;
   margin:10px 0 0 0;
   display: inline-block;
   color:white;
   text-decoration: none;
}

.img-box {
   position: relative;
   margin-top: 15px;
   border: 1px solid #888;
   background-color: white;
   background-image: image-url("spinner.gif");
   background-repeat: no-repeat;
   background-position: center;
   min-height: 200px;
}

.ocr-src-panel {
   text-align: center;
   p {
      color: #666;
      font-weight: bold;
      margin: 0 0 15px 0;
   }
   .ocr-controls {
      margin: 5px 0 15px 0;
   }
}
