/*
*= require routingslip
*/

body {
  background-color: white;
  color: black;
}

body, div, p, ol, ul, td {
  font-family: Arial;
}

/*
  ------------------------------------------------------------------------------
  UNIT ROUTING SLIP
  ------------------------------------------------------------------------------
*/

div.entry {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
}
div.entry_red {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #C00;
  border-left: 1px solid white;
}

div.slip {
  font-size: 10px;
  width: 37em;
}

div.field {
  clear: left;
  width: 17.5em;
}

div.floating {
  float: right;
  width: 17.5em;  /* 20 (width of div.field) + 11 (width of div.floating) = 36 which is 1 less than 35 (width of div.slip). This allows the floating divs to fit nicely within the overall width. */
}

div.heading {
  font-family: arial, helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
}

div.label {
  border: 1px solid white;
  float: left;
  padding-right: 0.5em;
}

div.section {
  margin-top: 1em;
}

div.unit_count {
  margin-left: 17em;
}

span.ib {
  font-style: italic;
  font-weight: bold;
}
span.blank {
  border-bottom: 1px solid black;
  padding-left: 1em;
  padding-right: 1em;
}

.red {
  color: #9E2B2B;
}

/*
  -------------------------------------------------------------------
  QR Code Display on slip
  -------------------------------------------------------------------
*/

table.qr {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }

 td.black {
   background-color: #000000;
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 2px;
   height: 2px;
 }

 td.white {
   background-color: #FFFFFF;
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 2px;
   height: 2px;
 }
