#main_content table.index_grid td {
   padding: 0 10px 10px 0;
}
#assign-staff {
   background: #f0f0ff;
   padding: 10px;
   border: 1px solid #66c;
   position: absolute;
   border-radius: 4px;
   z-index: 1000;
   box-shadow: 1px 1px 4px #999;
   display: none;
   .chosen-container.chosen-container-single{ margin-top: 5px;}
   .buttons {
      margin-top: 20px;
      text-align: right;
      span.btn {
         cursor: pointer;
         padding: 4px 10px;
         text-decoration: none;
         border-radius: 4px;
         background: #47a;
         color: white;
         font-size: 0.95em;
         &:hover {
            background: #69c;
         }
      }
   }
}
table.project-equipment-setup td {
   padding: 2px;
   border-bottom: none;
   font-size: 0.85em;
}
input[type=text].edit-camera, input[type=text].edit-item  {
   width: 100%
}
textarea.edit-camera{
   width: 100%;
   box-sizing: content-box;
   border-color: #ccc;
   outline: none;
}
span.mf-action-button.condition {
   float: right;
   margin-right: 0px;
   margin-left: 2px;
   padding: 0px 10px;
   font-size: 0.8em;
   font-weight: normal;
}

div.project-card.overdue {
   box-shadow: 0px 0px 2px 1px #f00
}
div.project-card.green {
   background: #f0faf0;
   border-color: #6a6;
   h3 {
      background: #a5e5a5;
      border-color: #6a6;
   }
   .project-footer {
      border-color: #cec;
   }
}
div.project-card.slide {
   background: #ffe;
   border-color: #aa6;
   color: #660;
   h3 {
      background: #ededaf;
      border-color: #aa6;
   }
   .project-footer {
      border-color: #ddc;
   }
}
div.project-card.special {
   background: #f0f0fa;
   border-color: #66a;
   h3 {
      background: #d0d0f5;
      border-color: #66a;
   }
   .project-footer {
      border-color: #cce;
   }
}
div.project-card {
   border: 1px solid #bbb;
   font-size: 0.9em;
   min-width: 450px;
   background: #f5f5f5;
   h3 {
      position: relative;
      span.overdue {
         margin-left: 5px;
         color: white;
         background: #d00;
         padding: 3px 10px;
         border-radius: 10px;
         text-shadow: 1px 1px #444;
         position: relative;
         left: 6px;
      }
      a {
         color: #444;
         &:hover {
            color: #008;
            text-decoration: underline !important;
         }
      }
      font-size: 1.1em;
      margin: 0px;
      padding: 2px;
      line-height: initial;
      background: #dedede;
      border-bottom: 1px solid #bbb;
      overflow: hidden;
      img {
         float: left;
         margin: 3px;
      }
      .project {
         float: left;
         margin: 6px 0 0 5px;
      }
      .priority {
         float:right;
         margin: 6px 10px 0 0;
         font-weight: bold;
      }
   }
   .project-body {
      position: relative;
      padding: 10px 10px 5px 10px;
      overflow: hidden;
      .right { width: 55%; }
      .left { width: 45%; }
      table {
         margin-bottom: 5px;
         td { cursor: default; padding: 3px !important;}
         td.label {
            font-weight: bold;
            text-align: right;
         }
      }
   }
}

.project-footer {
   position: relative;
   padding: 10px;
   border-top: 1px solid #ccc;
   clear:both;
   .owner-dd {
      cursor: default;
      display: none;
      position: absolute;
      background: white;
      border: 1px solid #666;
      bottom: -32px;
      left: 13px;
      .owner-act.disabled {
         cursor: default;
         opacity: 0.4;
         &:hover {
            background: white;
         }
      }
      .owner-act {
         cursor: pointer;
         padding: 1px 15px 4px 15px;
         a { text-decoration: none; color: #444;}
         &:hover {
            background: #bbf;
         }
      }
   }
}
.progress-info {
   clear: both;;
   overflow: hidden;
   position: relative;
   .statusbar {
      float:right;
   }
   .owner {
      cursor:default;
      position: absolute;
      top: 10px;
      .owner-name {
         position: relative;
         top: -7px;
         left: 4px;
      }
   }
}

.step-status {
   font-size: 0.9em;
   margin: 0 0 2px 0;
}
.workflow-status {
   width: 200px;
   height: 18px;
   margin: 0;
   border: 1px solid #444;
   box-sizing: border-box;
   background: white;
}
.percentage {
   display: block;
   height: 100%;
   background: #6b4;
}
.percentage.error {
   background: #b44;
}
