body {
    background-color: #1a3a6b !important;
    padding: 0;
    min-width: 900px;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
header {
   border-bottom: 1px solid #0c1a32;
   border-top: 1px solid #5d769a;
   background-color: #1a3a6b;
   position: relative;
   z-index: 300;
   -webkit-box-shadow: 0 2px 3px rgba(120, 120, 120, 0.3), inset 0 8px 8px rgba(8, 31, 63, 0.2), inset 0 -1px 0 #5D769A;
   -moz-box-shadow: 0 2px 3px rgba(120, 120, 120, 0.3), inset 0 8px 8px rgba(8, 31, 63, 0.2), inset 0 -1px 0 #5D769A;
   box-shadow: 0 2px 3px rgba(120, 120, 120, 0.3), inset 0 8px 8px rgba(8, 31, 63, 0.2), inset 0 -1px 0 #5D769A;
   padding:25px;
}

#main {
   background-color: #f8f2e3 !important;
   color: #444;

   #content {
      width: 80%;
      background-color: #fefefe;
      border-left: 1px solid #dfdacc;
      border-right: 1px solid #dfdacc;
      margin: 0 auto;
      padding: 20px;
      font-family: "prenton", "Helvetica Neue", Arial, sans-serif;
      font-weight: normal;
      text-rendering: optimizeLegibility;
      min-height: 600px;

      div.narrow {
         padding: 0 15%;
         div.moved {
            text-align: center;
            margin: 50px;
            color: #444;
            h2 {
               margin-bottom: 30px;
            }
            p {
               font-size: 1.2em;
               margin: 20px 0;
            }
         }

      }
   }
}

h1.page-title {
   color: #51822F;
   clear: both;
   font-size: 36px;
   margin-bottom: 0.5em;
   font-weight: normal;
   text-align: center;
}

.contact-container {
   background-color: #1b3459;
   color: #fafbfc !important;
   text-align: center;
   border-top: 1px solid rgba(0,0,0,0.3);
   border-bottom: 1px solid rgba(0,0,0,0.1);
   vertical-align: middle;
   padding: 1.33em 0;
   box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   h2 {
      display: inline;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      text-transform: uppercase;
   }
   .vcard {
      background-image: image-url("sprite.png"); background-repeat: no-repeat; height: 32px;
      display: inline-block;
      padding-left: 40px;
      margin-left: 20px;
      background-position: 0px -41px;
      vertical-align: middle;
      address {
         color: white;
         margin-top: 4px;
         font-style: normal;
         a {
            color: white;
            font-style: normal;
            text-decoration: none;
         }
      }
   }
}

footer {
   border-top: 1px solid rgba(255,255,255,0.1);
   background-color: #1a3a6b;
   color: #d2e5f7;
   padding:25px 5%;
   position:relative;

   .external_links {
      float:right;
      text-align: right;
   }
   p.copy {
      margin-top:20px;
   }
   a {
      color: #d2e5f7;
      border-bottom: 1px dotted #839dbf;
      &:hover {
         color: white;
         text-decoration: none;
         border-bottom: 1px solid #839dbf;
      }
   }
   a.fdlp {
         border-bottom: none !important;
   }
   div.address {
      float:left;
   }
   div.legal {
      position: relative;
      text-align: center;
      clear: both;
   }
   #fdlp-badge {
      background: image-url("sprite.png") no-repeat scroll 0 -124px transparent;
      height: 34px;  width: 39px;
      display: inline-block;
      position: relative;
      top: 8px;
      left: -8px;
   }
   p.copy, p.gov {
      vertical-align: middle;
   }
}
