.two-column {
  width: 49%;
  margin-right: 1%;
  float: left;
}

.three-column {
  width: 32%;
  margin-right: 1%;
  float: left;
}


.columns-none {
  clear: both;
  float: left;
  width: 100%;
}

form input[disabled="disabled"] {
    color: #777777;
    cursor: default;
    opacity: 0.6;
}
form input[disabled="disabled"]:hover {
    color: #777777;
}
form input[disable="disabled"]:active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px white inset;
}

.index_links {
  text-align: right;
}

.master_file_thumbnail_show {
  text-align :center;
}

/*form input[type="submit"], form input[disabled="disabled"] {
  background-color: #ffffff;
}*/

/*[disabled] input {
  background-color: rgb(223,225,226);
}*/

.workflow_button {
  margin-bottom: 1em;
}

/* Override active_admin.css
default styling */

/* forms */
form fieldset ol > li label {
  width: 30%;
}

form input[type="text"], form input[type="password"], 
form input[type="email"], form input[type="url"], 
form input[type="tel"], form textarea {
  width: 60%;
}

form fieldset > ol > li fieldset ol {
  padding: 0 0 0 30%;
}

/* sidebar */
.attributes_table table td {
  padding-left: 6px;
}