.two-column {
  width: 49%;
  margin-right: 1em;
  float: left;
}

.three-column {
  width: 32%;
  margin-right: 1em;
  float: left;
}


.columns-none {
  clear: both;
  float: left;
  width: 50%;
}

[disabled] {
  background-color: rgb(223,225,226);
}

/* Override active_admin.css
default styling */

/* forms */
form fieldset ol > li label {
  width: 30%;
}

form input[type="text"], form input[type="password"], 
form input[type="email"], form input[type="url"], 
form input[type="tel"], form textarea {
  width: 60%;
}

form fieldset > ol > li fieldset ol {
  padding: 0 0 0 30%;
}