h4.rejection-header {
   margin: 0 0 20px 0;
   font-weight: bold;
   color: #777;
}
div.rejects-list {
   div.project-card {
      width: 45%;
      float: left;
      margin: 0 10px 10px 0;
   }
}
div.panel.tracksys-report {
   position: relative;
   div.generating {
      display: none;
      position: absolute;
      background: none;
      top: 0;
      left: 5px;
      right: 5px;
      bottom: 5px;
      div.wait {
         width: 100px;
         margin: 20% auto;
         background: #eaeaff;
         border: 2px solid #44c;
         color: #44c;
         text-align: center;
         padding: 20px 40px;
         border-radius: 4px;
         box-shadow: 1px 1px 8px;
      }
   }
   #rejection-stats {
      font-size: 0.8em;
      margin-top: 0;
      background: white;
      border: 1px solid #ccc;
      border-top: none;
      border-collapse: collapse;

      td { border-bottom: 1px solid #eee;}
      th {
         position: relative;
         background: #f5f5f5;
         padding-top:1px;
         text-transform: none;
         text-shadow: none;
         border-bottom: 1px solid #ddd;
      }
      th.sort-clicker {
         cursor: pointer;
      }
      .sort {
         width: 16px;
         height: 16px;
         background: image-url("updown.png");
         display: inline-block;
         background-repeat: no-repeat;
         position: absolute;
         top: 0;
      }
      .sort.none {
         display:none;
      }
      .sort.asc {
         background-position: 0 0;
      }
      .sort.desc {
         background-position: 0 -16px;
      }
      .left-bar {
         border-left: 1px solid #ccc !important;
         padding-left: 10px;
      }
      th.top-header {
         border: none;
         text-align: center;
         margin-bottom: 0;
         padding-bottom: 0;
         padding-top:5px;
      }
   }
   #total-assignments {
      text-align: center;
      margin-top: 10px;
   }
   div.report-filter {
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      color: #444;
      label {
         font-weight: bold;
         margin-right: 5px;
         color: #666;
      }
      input {
         margin: 0 5px;
         width: 85px;
         color: #777;
         text-align: center;
      }
      select {
         color: #777;
         margin: 0 5px;
      }
      .mf-action-button {
         padding: 1px 15px;
         font-size: 80%;
         font-weight: 400;
      }
   }
}
