.button_to .reject {
   background-color: #c44;
   background-image: none;
   border-color: #a00;
   width: 100%;
   &:hover {
      background-color: #e66;
      background-image: none;
   }
}
form input[disabled="disabled"].reject {
   &:hover {
      background-color: #c44;
      background-image: none;
   }
}
.one-third {
   width: 32%;
   margin-right: 25px;
   float: left;
}
.two-thirds {
   width: 66%;
   float: left;
}
.hidden {
   display: none !important;
}
div.mini-button-bar {
   text-align: right;
}
div.note-card.problem {
   background-color: #f3cfcf;
   border: 1px solid #a55;
    color: #700;
   .note-info {
      border-color: #eaa;
   }
}
div.note-card {
   font-size: 0.85em;
   background-color: #fcfcfc;
   border: 1px solid #ccc;
   border-radius: 10px;
   margin: 5px 0 5px 0;
   padding: 8px;
   .note-info {
      position: relative;
      overflow: hidden;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      p {
         margin: 0;
      }
      .left-info {
         float:left;
      }
      .right-info {
         float: right;
      }
   }
   .note-text {
      p {
         margin: 0;
         padding: 0 0 5px 0;
         font-weight: bold;
      }
   }
}
// table.notes {
//    font-size: 0.85em;
//    background-color: #fcfcfc;
//    border: 1px solid #ccc;
//    td.narrow {
//       width: 65px;
//    }
//    td.note {
//       font-weight: normal;
//       p {
//          margin: 0 0 6px 0;
//          font-weight: bold;
//          border-bottom: 1px solid #444;
//       }
//    }
// }
.panel_contents table.task-history {
   font-size: 0.85em;
   background-color: #fcfcfc;
   border: 1px solid #aad;
   tr.create td{
      background: #e5e5fa;
   }
   tr.success td{
      background: #cff3cf;
   }
   tr.fail td{
      background: #f3cfcf;
   }
   th {
      background-color: #dde;
      border-bottom: 1px solid #66a;
      text-shadow: none;
   }
}
.workflow-panel {
   margin-left:0;
   width: 64%;
   float: left;
   position: relative;
}

#note-modal .content {
   div {
      margin-bottom:10px;
   }
   .invisible {
      visibility: hidden;
   }
}

.add-icon {
   float:right;
   width: 16px;
   height: 16px;
   cursor: pointer;
   display: inline-block;
   border-radius: 10px;
   background-image: image_url("add.png");
   background-repeat: no-repeat;
   background-position: center center;
   opacity: 0.5;

   &:hover {
      opacity: 1;
      background-color: #def;
   }
}

p.assign-link {
   color: #38678b;
   text-decoration: underline;
   margin:0;
   cursor:pointer;
   &:hover {
         text-decoration: none;
   }
}

.col.status-col {
   width: 150px;
   .step-status {
      font-size: 0.9em;
      color: #999;
      margin: 0;
      font-style: italic;
      position: relative;
      top: 2px;
   }
   .workflow-status {
      width: 150px;
      height: 18px;
      margin: 0;
      border: 1px solid #999;
      border-radius: 3px;
      box-sizing: border-box;
      position:relative;
      background: white;
   }
   .percentage {
      display: block;
      height: 100%;
      background: #6b4;
   }
   .percentage.error {
      background: #b44;
   }
}

.done-step {
   width: 100px;
   margin-left: 100px;
   border: 1px solid #ccc;
   background: #494;
   text-align: center;
   padding: 10px;
   border-radius: 20px;
   color: white;
}
.workflow-step {
   background: white;
   margin: 0;
   border: 1px solid #ccc;
   border-radius: 7px;
   display: inline-block;
   width: 300px;
   vertical-align: middle;
}
.workflow-step.error {
   position: relative;
   left: -8px;
   .step-toolbar {
      background: #900;
      color: white;
   }
}
.retry-arrow {
   left: 0;
   .left-arrow {
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #88c;
      position: relative;
      top: 7px;
   }
   .horiz-line.blue {
      border: 2px solid #88c;
   }
}
.fail-arrow {
   left: -3px;
}
.fail-arrow, .retry-arrow {
   width: 60px;
   display: inline-block;
   position: relative;
   .horiz-line {
      border: 2px solid #a55;
      height: 0px;
      width: 45px;
      display: inline-block;
   }
   .right-arrow {
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #a55;
      position: relative;
      top: 7px;
   }
}
.next-arrow {
   width: 300px;
   padding-left: 145px;
   .vert-line {
      border: 2px solid #88c;
      width: 0px;
      margin: 0 8px;
      height: 25px;
   }
   .down-arrow {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #88c;
   }
}
.step-toolbar {
   border-radius: 7px 7px 0 0 ;
   text-align: right;
   border-bottom: 1px solid #abe;
   background: #e0f0fa;
   position: relative;
   padding: 2px;
   height: 20px;
   text-align: center;
   .step-name {
      position: absolute;
      left: 10px;
      top: 3px;
      font-weight: bold;
   }
   .step-name.centered {
      position: inherit;
   }
}
.step-content {
   padding: 5px 10px 10px 10px;
   text-align: center;
   color: #666;
   p.desc {
      margin: 5px 0 10px 0;
      font-size: 1.0em;
   }
   p {
      margin: 0;
      font-size: 0.9em;
   }
   b {
      display: inline-block;
      text-align: right;
      margin-right: 5px;
   }
}

.workflow-submit {
   margin-bottom: 0;
   padding: 0;
   text-align: right;
}
