div.panel.tracksys-report {
   position: relative;
   div.generating {
      display: none;
      position: absolute;
      background: none;
      top: 0;
      left: 5px;
      right: 5px;
      bottom: 5px;
      div.wait {
         width: 100px;
         margin: 15% auto;
         background: #eaeaff;
         border: 2px solid #44c;
         color: #44c;
         text-align: center;
         padding: 20px 40px;
         border-radius: 4px;
         box-shadow: 1px 1px 8px;
      }
   }
   #total-assignments {
      text-align: center;
      margin-top: 10px;
   }
   div.report-filter {
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      color: #444;
      label {
         font-weight: bold;
         margin-right: 5px;
         color: #666;
      }
      input {
         margin: 0 5px;
         width: 85px;
         color: #777;
         text-align: center;
      }
      select {
         color: #777;
         margin: 0 5px;
      }
      .mf-action-button {
         padding: 1px 15px;
         font-size: 80%;
         font-weight: 400;
      }
   }
   #avg-time-raw {
      background: white;
      border-radius: 2px;
      border: 1px solid #ccc;
      margin-top: 10px;
      th {
         font-weight: bold;
         border-bottom: 1px solid #ccc;
         padding-top: 0;
         text-transform: none;
      }
      td {
         border-bottom: 1px solid #eee;
      }
   }
}
