<div>
   <% if project.unit.metadata.ocr_language_hint.blank? %>
      <span class="disp-ocr empty" id='ocr-language-hint'>Empty</span>
   <% else %>
      <span class='disp-ocr' id='ocr-language-hint'><%= project.unit.metadata.ocr_language_hint %></span>
   <% end %>
   <div class="hidden edit-ocr">
      <select style="width:200px" multiple="multiple" id='ocr-language-hint-edit' >
         <% @languages.each do |p| %>
            <% sel = ""
               sel = 'selected=selected' if project.unit.metadata.ocr_language_hint.include?(p) %>
            <option <%= sel %> value="<%= p %>"><%= p %></option>
         <% end %>
      </select>
   </end>
</div>
