<div class="statusbar">
   <div class="step-status">
      <%= project.status_text %>
   </div>
   <div class="workflow-status">
      <div class="percentage" style="width: <%= project.percentage_complete %>%"></div>
   </div>

</div>
