<div class="workflow time-entry">
   <p>Approximately how many minutes did you spend on this assignment?</p>
   <input type="text" id="duration-minutes"/>
   <p class="error">Please enter a valid, numeric time</p>
   <span class="cancel time-entry mf-action-button">Cancel</span>
   <span class="submit time-entry mf-action-button">OK</span>
</div>
