<table id="staff-rates-stats">
   <tr>
      <th class="top-header"></th>
      <th class="top-header left-bar" colspan="3">Scans</th>
      <th class="top-header left-bar" colspan="3">QA</th>
   </tr>
   <tr>
      <th class="sort-clicker">
         <span>Staff</span>
         <span class='sort none' data-tgt="staff"></span>
      </th>
      <th class="left-bar sort-clicker">
         <span>Images</span>
         <span class='sort none' data-tgt="scan_images"></span>
      </th>
      <th class="sort-clicker">
         <span>Minutes</span>
         <span class='sort none' data-tgt="scan_time"></span>
      </th>
      <th class="sort-clicker">
         <span>Images/Minute</span>
         <span class='sort none' data-tgt="scan_rate"></span>
      </th>
      <th class="left-bar sort-clicker">
         <span>Images</span>
         <span class='sort none' data-tgt="qa_images"></span>
      </th>
      <th class="sort-clicker">
         <span>Minutes</span>
         <span class='sort none' data-tgt="qa_time"></span>
      </th>
      <th class="sort-clicker">
         <span>Images/Minute</span>
         <span class='sort none' data-tgt="qa_rate"></span>
      </th>
   </tr>
</table>
