<span><%= format_boolean_as_yes_no(metadata.checked_out?) %></span>
   <% if metadata.checkouts.count > 0 %>
      <span class="audit-button"></span>
      <div class="audit-log">
         <table>
            <tr><th>Checkout Date</th><th>Return Date</th></tr>
            <% metadata.checkouts.each do |ae | %>
            <tr>
               <td><%= ae.checkout_at.strftime('%F %r') %></td>
               <% returned = "N/A"
                  returned = ae.return_at.strftime('%F %r') if !ae.return_at.blank? %>
               <td><%= returned %></td>
            </tr>
            <% end %>
         </table>
      </div>
   <% end %>
</span>
