<div id="dimmer">
   <div id="do-viewer-modal" class="modal">
      <div class="content">
      </div>
      <div class="buttons">
         <input type="button" id="close-do-viewer" value="Close"/>
      </div>
   </div>
</div>
