<div class="panel mf-tags">
   <h3><span>Tags</span><span id="add-tag" class="add ts-icon"></span><span id="add-done">Done</span></h3>
   <div class="panel_contents">
      <table class="add-tags">
         <tr>
            <td>
               <select id="tag-finder">
                  <option value=""></option>
                  <% Tag.all.order(tag: :asc).each do |t| %>
                     <option value="<%= t.id %>"><%= t.tag %></option>
                  <% end %>
               </select>
            </td>
            <td>
               <span id="add-tag" class="mf-action-button">Add Selected Tags</span>
            </td>
         </tr>
         <tr>
            <td><input type="text" id="new-tag"/></td>
            <td><span id="add-new-tag" class="mf-action-button">Add New Tag</span></td>
         </tr>
      </table>
      <div class="mf-tag-list">
         <% mf.tags.each do |t| %>
            <span class="tag"><%= t.tag %><span title="Delete tag" class="del-tag">X</span></span>
         <% end %>
      </div>
   </div>
</div>
