<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>University of Virginia Library</title>

<link href="https://www2.lib.virginia.edu/styles/main.css" rel="stylesheet" type="text/css"/>
 
<!-- <link href="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/button/assets/skins/sam/button.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/yahoo-dom-event/yahoo-dom-event.js"> </script>
<script type="text/javascript" src="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/element/element-beta-min.js"> </script>
<script type="text/javascript" src="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/animation/animation-min.js"> </script>
<script type="text/javascript" src="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/autocomplete/autocomplete-min.js"> </script>

<script type="text/javascript" src="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/tabview/tabview-min.js"> </script>

<link rel="stylesheet" type="text/css" href="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/fonts/fonts-min.css"/>
<link rel="stylesheet" type="text/css" href="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/container/assets/skins/sam/container.css"/>
<link rel="stylesheet" type="text/css" href="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/menu/assets/skins/sam/menu.css"/>
<link rel="stylesheet" type="text/css" href="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/button/assets/skins/sam/button.css"/>
<link rel="stylesheet" type="text/css" href="https://www2.lib.virginia.edu/scripts/yahoo/2.5.1/build/editor/assets/skins/sam/editor.css"/> -->


<!--<link rel="stylesheet" type="text/css" href="https://www2.lib.virginia.edu/putter/putter.css"/>-->

<!--<script type="text/javascript" src="https://www2.lib.virginia.edu/scripts/main.js"> </script>

<![endif]>-->

<!--[if IE 6]>
<link href="https://www2.lib.virginia.edu/styles/browsers/lt_ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
<link href="https://www2.lib.virginia.edu/styles/browsers/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->

<%= stylesheet_link_tag 'notice', 'uni-form.css', 'themes/jquery-calendar.css', 'jquery.cluetip.css', '/yui/build/fonts/fonts-min.css', '/yui/build/assets/skins/sam/skin.css', '/yui/build/tabview/assets/skins/sam/tabview.css', 'request' %>
<%# Use an IE "conditional comment" to specify CSS for IE only %>

<%= javascript_include_tag 'jquery-1.2.3.js', 'jquery.bgiframe.js', 'jquery.dimensions.js', 'jquery.hoverIntent.js', 'jquery.cluetip.js', 'uni-form.jquery.js', 'jquery.form.js', 'jquery.scrollTo.js', 'jquery.ui/ui.calendar.js', 'request' %>

<meta http-equiv="DM:TemplateLayout" content="" />
<meta http-equiv="DM:TemplateHeader" content="" />
<meta http-equiv="DM:StandardPageTitle" content="true" />
<meta http-equiv="DM:SectionHeader" content="false" />

<!-- InstanceBeginEditable name="head" -->
<link href="https://www2.lib.virginia.edu/digitalcuration/styles/main.css" rel="stylesheet" type="text/css"/>
<link href="https://www2.lib.virginia.edu/styles/components/news.css" rel="stylesheet" type="text/css"/>
<!-- InstanceEndEditable --> 

<link rel='stylesheet' href='https://www2.lib.virginia.edu/digitalcuration/styles/main.css' type='text/css'/>

<style type="text/css">
  /* Because li elements are used for tabs, as well as for actual list items,
    override li styles from UVa Library main.css */
  #requestContent li {
    background-image: none !important;
    padding-left: 5px !important;
  }
</style>
</head>
<body class="uvalib-t2 uvalib-hd1">
<div id="globalHd">
<div class="docWrap">
<div id="skipToNav" class="imgReplace"><a href="#content">Skip to main content</a>  |  <a href="#globalNav">Skip to main navigation</a>  |  <a href="#sectNav">Skip to navigation for this section of the website</a></div>
<hr/>
<div id="bookmarkMotif"> </div>
<div id="branding">
<span class="displayForNoCSS">Go to</span>
<a id="logo" class="imgReplace" href="http://lib.virginia.edu" title="Go to U.Va. Library Home">University of Virginia Library</a>
<span class="displayForNoCSS">home</span>
</div>
<hr/>
</div>
<!-- End .docWrap -->
</div>
<!-- End #globalHd -->
<hr/>

<div id="content">
  <div class="docWrap">
    <div id="mainContent">
      <div class="hd">
        <h1 class="editable"><!-- InstanceBeginEditable name="Title" -->Digital Production Group Request Form<!-- InstanceEndEditable --></h1>
      </div>
      <div class="bd editable"><!-- InstanceBeginEditable name="Primary-Content" -->
        
        
        <div id="requestContent">
          <%= yield %>
        </div>
        
        
      <!-- InstanceEndEditable --></div>
    </div><!-- End #mainContent -->
<hr/>
<div id="subContent1"><!-- class="editable" --><!-- InstanceBeginEditable name="Secondary-Content-1" -->
  <div id="News" class="box newsListing">
    <div class="hd">
      <ul>
        <li style="list-style-type: none; list-style-image: none; list-style-position: outside;">
          <div class="box">
            <div class="hd">
              <h2>Where to go ...</h2>
            </div>
            <div class="bd">
              <p>Requests for Digital Curation Services services may be placed at these locations:</p>
              <ul>
                <li>the <a href="http://www2.lib.virginia.edu/scholarslab/">Scholars' Lab</a> in Alderman Library</li>
                <li>the <a href="http://www2.lib.virginia.edu/science/rescomp/">Research Computing Lab</a> at the Brown Science &amp; Engineering Library</li>
              </ul>
              <div class="hd">
                <h2>Forms and Guides</h2>
              </div>
              <div class="bd">
                <ul>
                  <li>For curriculum support, download the Digital Production Group for Faculty (DS4F) <a href="http://www2.lib.virginia.edu/digitalcuration/documents/DS4F_webform.doc">form and instructions</a>.</li>
                  <li>For additional information regarding UVa Library's current standards for digitized materials, please refer to our <a href="http://guides.lib.virginia.edu/content.php?pid=40437"> Digitization Guidelines</a>.</li>
                  <li>Or <a href="http://www2.lib.virginia.edu/digitalcuration/contacts.html">contact us</a> via email.</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
<!-- InstanceEndEditable --></div>
        <!-- End #subContent1 -->
      </div>
      <!-- End .docWrap -->
    </div>
    <!-- End #content -->
    <hr/>
    <div id="globalFt">
      <div class="docWrap">
        <div class="col first">
          <p><strong><a href="http://lib.virginia.edu">University of Virginia Library</a></strong><br/>
        PO Box 400113, Charlottesville, VA 22904-4113<br/>
        ph: (434) 924-3021, fax: (434) 924-1431, <a href="mailto:library@virginia.edu">library@virginia.edu</a></p>
        </div>
        <div class="col">
          <p><a href="http://www2.lib.virginia.edu/">Libraries</a>   |   <a href="http://www2.lib.virginia.edu/dir/libdept.html">Depts./Contacts</a>   |  <a href="http://www.virginia.edu">U.Va. Home</a>   |   <a href="http://www.itc.virginia.edu">ITC</a></p>
          <p><a href="mailto:webmanager_library@virginia.edu">Website Feedback</a>   |   <a href="http://www2.lib.virginia.edu/sitesearch.html">Search</a>   |   <a href="http://www2.lib.virginia.edu/questions.html">Questions? Ask a Librarian</a>   |   <a href="http://www2.lib.virginia.edu/hours/">Hours</a>   |   <a href="http://www2.lib.virginia.edu/map.html">Map</a>   |   <a href="http://www2.lib.virginia.edu/policies/">Policies</a>   |   <a href="http://www2.lib.virginia.edu/press/">Press</a>   |   <a href="http://www2.lib.virginia.edu/HR/">Jobs</a></p>
          <p><a href="http://www.virginia.edu/copyright.html" id="copyrightLink">&#169;</a> 2007 by the Rector and Visitors of the <a href="http://www.virginia.edu">University of Virginia</a></p>
        </div>
      </div>
      <!-- End .docWrap -->
    </div>
    <!-- End #globalFt -->
    <!--<script type="text/javascript" src="/putter/putter.js"> </script>-->
  </body>
  <!-- InstanceEnd -->
</html>
